body{
	background-color: #00ace6;
	font-family: Bitter, Slabo, sans;
	margin-top: 100px
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.gallery {

}

.animations {
	
}

.intro {
	position: relative;
	width: 100%;
	height: 100vh;
}